body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.R .logo {
  height: 30px;
}

.nav {
  display: flex;
  gap: 20px;
  color: #5a7cff;
  font-weight: bold;
  cursor: pointer;
}

.but {
  display: flex;
  gap: 10px;
}

.butt {
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.butt.yellow {
  background-color: #ffe082;
}

.butt.blue {
  background-color: #5a7cff;
  color: white;
}

.tout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}

.left {
  width: 50%;
}

.titre {
  font-size: 40px;
  color: #5a7cff;
  font-weight: bold;
}

.soustitre {
  margin: 20px 0;
  color: #5a7cff;
}

.right .image {
  width: 500px;
  height: 300px;
  background-color: #cde4ff;
  border-radius: 10px;
}
.tout1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}

.left1 {
  width: 50%;
  
}

.titre1 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.soustitre {
  margin: 20px 0;
  color: #5a7cff;
}

.right1 .image2 {
  width: 500px;
  height: 300px;
  background-color: #cde4ff;
  border-radius: 10px;
}